<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Automation Test Suite">

	<listeners>
		<listener class-name="com.amazon.extentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Amazon Test Cases">
		<classes>
			<class name="com.amazon.testcases.HomePageTest"></class>
			<class name="com.amazon.testcases.SearchPageTest"></class>
			<class name="com.amazon.testcases.CheckoutTest"></class>

		</classes>
	</test>
</suite>